<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blog Home - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for home template -->
    <link href="/css/blog-home.css" rel="stylesheet">
    {{!-- Custom styles for post single --}}
    <link href="/css/blog-post.css" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->
    {{> home/home-nav}}

    <!-- Page Content -->
    <div class="container">

        {{#if errors}}
            {{#each errors}}
                <div class="alert alert-danger">
                    {{message}}
                </div>
            {{/each}}
        {{/if}}

        {{> home/form-msgs}}
        {{{body}}}  

    </div>
    <!-- /.container -->

    <!-- Footer -->
    {{> home/footer}}

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script>
        if({{postCount}} === 0) {
            const pagination = document.getElementById("pagination")
            pagination.remove()

            const h1Element = document.createElement('h1')
            h1Element.textContent = "No posts found"

            const title = document.getElementById("title")
            title.appendChild(h1Element)
        }
    </script>
</body>

</html>
